<ion-header class="ion-no-border"> 
  <ion-toolbar color="primary">
    <ion-title>
      <img src="../../assets/logo.png">
      <span>Login</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content  color="primary">
    <div class="logm">
    <ion-slides>
      <ion-slide>
        <div class="slide-inner ion-padding">

          <ion-item class="ion-margin-top" lines="none">
            <ion-input type="email" placeholder="E-mail" ></ion-input>
          </ion-item>

          <ion-item class="ion-margin-top" lines="none">
            <ion-input type="password" placeholder="Senha" ></ion-input>
          </ion-item>

          <ion-button class="ion-margin-top"  color="light" expand="block">
            Entrar
          </ion-button>
          <span>Ainda não tem uma conta? Crie uma conta </span>
        </div>
      </ion-slide>
    </ion-slides>
  </div>
  </ion-content>
